_site/
assets/js/dist/*
.jekyll-cache/
.jekyll-metadata/
.sass-cache/
.bundle/


node_modules/
npm-debug.log*
yarn-error.log*

Gemfile.lock  

DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.bak

env
